<header>
    <div class="container">
        <div class="logo-field">
            <button class="btn-opener">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="logo">
                <img src="http://via.placeholder.com/100x22" alt="Moderno Logo">
            </div>
        </div>
        <form action="" class="search-form">
            <input type="search" placeholder="Search for anyting">
        </form>
        <div class="user-settings">
            <button class="btn-notification">
                <span class="icon-bell"></span>
                <span class="value">2</span>
            </button>
            <div class="user-field">
                <div class="user-photo">
                    <img src="http://via.placeholder.com/32x32" alt="Moderno Logo">
                </div>
            </div>
        </div>
    </div>
</header>
  